/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/********    VARIABLES    ********/
/********  HEADER STYLES  ********/
header, nav {
  text-align: center;
  color: white;
  margin: 0; }
  header a, nav a {
    color: white; }
    header a:hover, nav a:hover {
      color: white;
      text-decoration: none;
      opacity: .75; }
    header a:visited, nav a:visited {
      color: white;
      text-decoration: none; }

header {
  background: black;
  height: 60px;
  line-height: 60px; }
  header h1 {
    font-size: 1.8em; }

nav {
  background: #404040;
  height: 50px;
  line-height: 50px; }
  nav div {
    display: inline-block;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.1em; }
    nav div:nth-child(odd) {
      border-right: 1px black solid; }

/********  FOOTER STYLES  ********/
footer {
  width: 100%;
  height: 50px;
  background: black; }
  footer .email-container {
    margin-top: 50px;
    height: 20px;
    width: 50px;
    margin: 10px auto 0 auto; }
  footer svg {
    margin-top: 15px;
    height: 20px;
    width: 50px;
    fill: white; }
    footer svg:hover {
      opacity: .75; }

/********  MAIN STYLES  ********/
.container {
  width: 97%; }
  @media (min-width: 900px) {
    .container {
      width: 80%; } }

main {
  background: #fcfcfc;
  margin: 0;
  padding-top: 30px; }
  main a {
    color: #262626; }
  main h2 {
    padding: 15px 0;
    font-size: 1.2em;
    font-weight: bold; }

.thin-border {
  margin-top: 15px;
  width: 100%;
  height: 1.2px;
  background: black; }

.thick-border {
  margin-top: 2px;
  width: 100%;
  height: 2.5px;
  background: black; }

/*****  ABOUT  *****/
#about a {
  font-weight: bold; }
#about p {
  margin-bottom: 12px; }
  #about p:first-child {
    font-size: 1.4em; }
#about .show-style {
  font-style: italic; }

#headshot {
  width: 200px;
  margin: auto;
  display: block; }

#lead {
  padding: 10px 0;
  line-height: 1.70em;
  font-size: 1.1em; }
  #lead h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 500; }

@media (min-width: 680px) {
  #headshot {
    display: inline-block;
    width: 30%;
    float: left; }

  #lead {
    padding-top: 0;
    padding-left: 40px;
    padding-bottom: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 70%; } }
/*****  SKILLS  *****/
#skills-container {
  margin: 0 auto; }

/*****  FORM  *****/
#form {
  padding: 10px;
  border-radius: 8px;
  background: #e8e8e8;
  margin-bottom: 10px; }
  #form .section-heading {
    font-weight: bold;
    width: 120px;
    display: inline-block;
    float: left;
    margin-top: 9px; }
  #form .inputs {
    width: calc(100% - 125px);
    display: inline-block; }
  #form .checkbox input[type="checkbox"] {
    margin-left: 0;
    margin-top: 2px; }

#search-terms {
  position: relative; }

.dropdown-toggle #dropdown-icon {
  fill: #000000;
  position: absolute;
  right: 3px;
  top: 7px;
  cursor: pointer;
  opacity: 0; }
  .form-group:hover + .dropdown-toggle #dropdown-icon, .dropdown-toggle #dropdown-icon:hover {
    opacity: .6; }
  .dropdown-toggle #dropdown-icon.flip {
    transform: rotate(180deg);
    opacity: .6; }

#companies_period {
  display: flex;
  flex-wrap: wrap; }

#companies {
  float: left;
  display: inline-block;
  min-width: 230px; }

#time-period {
  float: left;
  display: inline-block;
  min-width: 255px; }
  #time-period .inputs {
    margin-top: 9px; }

/*****  TIMELINE  *****/
#timeline {
  color: black;
  padding: 10px;
  border-radius: 8px;
  background: #e8e8e8;
  margin-bottom: 10px; }
  #timeline #chart {
    padding: 2px; }
  #timeline h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px; }
  #timeline .start {
    display: inline-block;
    width: 90px; }
  #timeline .line {
    stroke-width: 5;
    cursor: pointer;
    display: inline-block;
    background: black;
    width: calc(100% - 190px);
    margin: 0 auto 4px auto;
    height: 1px; }
  #timeline .smartly {
    stroke: #E54558; }
  #timeline .treehouse {
    stroke: #5FCF80; }
  #timeline .lynda {
    stroke: #FFB900; }
  #timeline .code_school {
    stroke: #4CADC1; }
  #timeline .codecademy {
    stroke: #0F3C56; }
  #timeline .end {
    float: right;
    text-align: right;
    display: inline-block;
    width: 90px; }

/*****  RESULTS  *****/
#results-header {
  background: #e8e8e8;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0;
  padding: 10px; }
  #results-header h3 {
    text-align: center;
    font-weight: bold; }

.course_result a,
#headers {
  display: flex;
  padding: 2px 0;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  justify-content: space-between; }
  .course_result a .logo,
  #headers .logo {
    margin-left: 2px;
    width: 35px;
    height: 35px;
    display: none; }
    @media screen and (min-width: 600px) {
      .course_result a .logo,
      #headers .logo {
        display: inline-block; } }
  .course_result a .company,
  #headers .company {
    margin-left: 10px;
    height: 35px;
    width: 130px;
    line-height: 35px;
    display: inline-block; }
  .course_result a .title,
  #headers .title {
    flex-grow: 1;
    margin-left: 10px;
    display: inline-block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .course_result a .date,
  #headers .date {
    text-align: right;
    display: inline-block;
    width: 55px;
    height: 35px;
    line-height: 35px;
    margin-right: 5px; }
    @media screen and (min-width: 701px) {
      .course_result a .date,
      #headers .date {
        width: 110px; } }
  .course_result a .time,
  #headers .time {
    text-align: right;
    margin-right: 10px;
    display: inline-block;
    width: 80px;
    height: 35px;
    line-height: 35px; }
    @media screen and (min-width: 701px) {
      .course_result a .time,
      #headers .time {
        width: 140px; } }
  .course_result a .comma,
  #headers .comma {
    margin-left: -5px; }

#headers {
  border-top: 1px solid grey;
  background: #1a1a1a;
  border-color: #1a1a1a;
  color: white; }

.header {
  cursor: pointer; }
  .header .dropdown-icon {
    opacity: 0;
    margin-bottom: -4px;
    display: none; }
    @media screen and (min-width: 550px) {
      .header .dropdown-icon {
        display: inline-block; } }
  .header:hover .dropdown-icon {
    opacity: .5; }
  .header .sorting .dropdown-icon {
    opacity: 1; }

#pagination {
  background: #1a1a1a;
  color: white;
  height: 35px;
  line-height: 35px;
  text-align: center; }
  #pagination .glyphicon {
    cursor: pointer; }
  #pagination .disabled {
    cursor: default;
    opacity: .6; }

#totals {
  padding: 2px 0;
  background: #d9d9d9;
  border-radius: 0 0 8px 8px;
  font-weight: bold;
  margin-bottom: 10px; }
  #totals .total_courses {
    margin-left: 10px;
    display: inline-block;
    width: 160px;
    height: 35px;
    line-height: 35px; }
  #totals .total_time {
    float: right;
    display: inline-block;
    width: 160px;
    height: 35px;
    line-height: 35px;
    text-align: right;
    margin-right: 10px; }
    @media screen and (min-width: 701px) {
      #totals .total_time {
        width: 300px; } }
  #totals .comma {
    margin-left: -4px; }

.course_result a .small_screen,
#totals .small_screen {
  display: inline;
  margin-left: -4px; }
.course_result a .large_screen,
#totals .large_screen {
  display: none; }
@media screen and (min-width: 701px) {
  .course_result a .small_screen,
  #totals .small_screen {
    display: none; }
  .course_result a .large_screen,
  #totals .large_screen {
    display: inline; } }

.highlighted a {
  background: #e3e3e3; }

/*****  MUSICIAN, PORTFOLIO  *****/
.show,
.project {
  width: 280px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background: #e8e8e8;
  display: inline-block; }
  .show h3,
  .project h3 {
    font-weight: bold; }
  .show img,
  .project img {
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    transition: opacity .2s;
    margin: 12px 0; }
    .show img:hover,
    .project img:hover {
      opacity: .9; }
  .show h3, .show h4,
  .show .description,
  .show .item,
  .project h3,
  .project h4,
  .project .description,
  .project .item {
    text-align: center; }
  .show .preview,
  .show .source_code,
  .project .preview,
  .project .source_code {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: underline; }
  .show .description,
  .project .description {
    margin-top: 5px; }

#shows,
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

#about:after {
  content: '';
  display: table;
  clear: both; }

#portfolio {
  border-bottom: 1px solid black; }

/*# sourceMappingURL=styles.css.map */
