/********  MAIN STYLES  ********/

.container {
    width: 97%;
    @media (min-width: 900px) {
        width: 80%;
    }
}

main {
    background: $color-main-bg;
    margin: 0;
    padding-top: 30px;
    a {
        color: $color-main-link;
    }
    h2 {
        padding: 15px 0;  
        font-size: 1.2em;
        font-weight: bold;
    }
}

.thin-border {
    margin-top: 15px;
    width: 100%;
    height: 1.2px;
    background: black;
}

.thick-border {
    margin-top: 2px;
    width: 100%;
    height: 2.5px;
    background: black;
}