/********    VARIABLES    ********/

$darkgreen: #485C0E;
$lightgreen: #5E7414;
$yellow: #D6CE2E;
$red: #74180E;
$brown: #74180E;
$blue: #384D7A;

$smartly: #E54558;
$treehouse: #5FCF80;
$lynda: #FFB900;
$code_school: #4CADC1;
$codecademy: #0F3C56;

$color-header-background: darken($blue, 28%);
$color-nav-bg: #595C4E;
$color-nav-bg-active: lighten($color-nav-bg, 10%);
$color-main-bg: lighten($color-nav-bg, 70%);

$color-item-border: grey;

$color-main-link: darken($blue, 10%);

$spacing-row-height: 35px;