@import 'reset';


/********    VARIABLES    ********/

$darkgreen: #485C0E;
$lightgreen: #5E7414;
$yellow: #D6CE2E;
$red: #74180E;
$brown: #74180E;
$blue: #384D7A;

$color-header-background: darken($blue, 28%);
$color-nav-bg: #595C4E;
$color-nav-bg-active: lighten($color-nav-bg, 10%);
$color-main-bg: lighten($color-nav-bg, 70%);

$color-item-border: grey;

$color-main-link: darken($blue, 10%);

$spacing-row-height: 35px;

/********  HEADER STYLES  ********/

header, nav {
    text-align: center;
    color: white;
    margin: 0;
    a {
        color: white;
        &:hover {
            color: white;
            text-decoration: none;
            opacity: .75;
        }
        &:visited {
            color: white;  
            text-decoration: none;
        }
    }
}

header {
    background: $color-header-background;
    height: 60px;
    line-height: 60px;
    h1 {

        font-size: 1.8em;
    }
}

nav {
    background: $color-nav-bg;
    height: 50px;
    line-height: 50px;
    div {
        display: inline-block;
        width: 50%;
        text-align: center;
        box-sizing: border-box;
        font-size: 1.1em;

        &:nth-child(odd) {
            border-right: 1px $color-header-background solid;
        }
    }
}

/********  MAIN STYLES  ********/

.container {
    width: 97%;
    @media (min-width: 900px) {
        width: 80%;
    }
}

main {
    font-family: Railway;
    background: $color-main-bg;
    margin: 0;
    padding-top: 30px;
    a {
        color: $color-main-link;
    }
    h2 {
        padding: 15px 0;  
        font-size: 1.2em;
        font-weight: bold;
    }
}

.thin-border {
    margin-top: 15px;
    width: 100%;
    height: 1.2px;
    background: black;
}

.thick-border {
    margin-top: 2px;
    width: 100%;
    height: 2.5px;
    background: black;
}

/* add footer styles for social icons, contact */

/*****  ABOUT  *****/

#about {
    a {
        font-weight: bold;
    }
}

#headshot {
    width: 200px;
    margin: auto;       
    display: block; 
}


#lead {
    padding: 10px 0;
    line-height: 1.70em;
    font-size: 1.1em;

    h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
        font-weight: 500;  
    }
}

@media (min-width: 680px) {
    #headshot {
        display: inline-block;
        width: 30%;
        float: left;    
    }

    #lead {
        padding-top: 0;
        padding-left: 40px;
        padding-bottom: 0;
        box-sizing: border-box;
        display: inline-block;
        width: 70%;
    }
}   

/*****  MUSICIAN, PORTFOLIO  *****/

.show,
.project {
    width: 210px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background: lighten($color-nav-bg, 60%);
    display: inline-block;

    h3 {
        font-weight: bold;
    }

    img {
        border: 1px solid $color-item-border;
        box-sizing: border-box;
        width: 100%;
        transition: opacity .2s;
        margin: 12px 0;
        &:hover {
            opacity: .9;
        }
    }

    h3, h4,
    .description,
    .item {
        text-align: center;
    }
}

#shows, 
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

#about {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

#portfolio {
    border-bottom: 1px solid black;
}

/*****  SKILLS  *****/

#skills-container {
    margin: 0 auto;
}

    /*****  FORM  *****/

    #form {
        padding: 10px;
        border-radius: 8px;
        background: lighten($color-nav-bg, 60%);
        margin-bottom: 10px;
        .section-heading {
            font-weight: bold;
            width: 120px;
            display: inline-block;
            float: left;
            margin-top: 9px;
        }
        .inputs {
            width: calc(100% - 125px);
            display: inline-block;
        }

        .checkbox {
            input[type="checkbox"] {
                margin-left: 0;
                margin-top: 2px;
            }
        }   
    }   

    #companies_period {
        display: flex;
        flex-wrap: wrap;
    }

    #companies {
        float: left;
        display: inline-block;
        min-width: 230px;
        // width: 40%;
    }

    #time-period {
        float: left;
        display: inline-block;
        min-width: 255px;

        .inputs {
            margin-top: 9px;
        }
    }

    /*****  TIMELINE  *****/

    #timeline {
        color: darken($blue, 50%);
        h3 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 8px;
        }
        padding: 10px;
        border-radius: 8px;
        background: lighten($color-nav-bg, 60%);
        margin-bottom: 10px;
        .start {
            display: inline-block;
            width: 90px;
        }

        .line {
            display: inline-block;
            background: black;
            width: calc(100% - 190px);
            margin: 0 auto 4px auto;
            height: 1px;
        }

        .end {
            float: right;
            text-align: right;
            display: inline-block;
            width: 90px;
        }
    }

    #chart {
        padding: 2px;
    }

    /*****  RESULTS  *****/

    #results-header {
        background: lighten($color-nav-bg, 60%);
        border-radius: 8px 8px 0 0;
        margin-bottom: 0;
        padding: 10px;
        h3 {
            text-align: center;
            font-weight: bold;
        }
    }

    .course_result a,
    #headers {
        display: flex;
        padding: 2px 0;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
        border-left: 1px solid grey;
        justify-content: space-between;
        .logo {
            margin-left: 2px;
            width: $spacing-row-height;
            height: $spacing-row-height;
            display: none;
            @media screen and (min-width: 600px) {
                display: inline-block;
            }
        }
        .company {
            margin-left: 10px;
            height: $spacing-row-height;
            width: 130px;
            line-height: $spacing-row-height;
            display: inline-block;
        }
        .title {
            flex-grow: 1;
            margin-left: 10px;
            display: inline-block;
            width: 200px;
            height: $spacing-row-height;
            line-height: $spacing-row-height;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .date {
            text-align: right;
            display: inline-block;
            width: 55px;
            height: $spacing-row-height;
            line-height: $spacing-row-height;
            margin-right: 5px;

            @media screen and (min-width: 701px) {
                width: 110px;
            }
        }
        .time {
            text-align: right;
            margin-right: 10px;
            display: inline-block;
            width: 80px;
            height: $spacing-row-height;
            line-height: $spacing-row-height;

            @media screen and (min-width: 701px) {
                width: 140px;    
            }
        }

        .comma {
            margin-left: -5px;
            // margin-right: .5px;
        }
    }

    #headers {
        border-top: 1px solid grey;
        background: lighten($color-header-background, 10%);
        border-color: lighten($color-header-background, 10%);
        color: white;
    }

    .header {
        cursor: pointer;
        .dropdown-icon {
            opacity: 0;
            margin-bottom: -4px;
            display: none;
            @media screen and (min-width: 550px) {
                display: inline-block;
            }
        }
        &:hover .dropdown-icon {
            opacity: .5;
        }
        .sorting .dropdown-icon {
            opacity: 1;
        }
    }

    #pagination {
        background: lighten($color-header-background, 10%);
        color: white;
        height: $spacing-row-height;
        line-height: $spacing-row-height;
        text-align: center;

        .glyphicon {
            cursor: pointer;
        }
        .disabled {
            cursor: default;
            opacity: .6;
        }
    }

    #totals {
        padding: 2px 0;
        background: lighten($color-nav-bg, 60%);
        border-radius: 0 0 8px 8px;
        font-weight: bold;
        margin-bottom: 10px;
        .total_courses {
            margin-left: 10px;
            display: inline-block;
            width: 160px;        
            height: $spacing-row-height;
            line-height: $spacing-row-height;
        }
        .total_time {
            float: right;
            display: inline-block;
            width: 160px;        
            height: $spacing-row-height;
            line-height: $spacing-row-height;
            text-align: right;
            margin-right: 10px;

            @media screen and (min-width: 701px) {
                width: 300px;
            }
        }

        .comma {
            margin-left: -4px;
        }
    }

    .course_result a,
    #totals, {
        @media screen and (max-width: 700px) {
            .small_screen {
                display: inline;
                margin-left: -4px;
            }

            .large_screen {
                display: none;
            }
        }
        @media screen and (min-width: 701px) {
            .small_screen {
                display: none;
            }

            .large_screen {
                display: inline;
            }
        }
    }


/********  FOOTER STYLES  ********/

footer {
    width: 100%;
    height: 50px;
    background: $color-header-background;

    .social-icons {
        padding-top: 15px;
        width: 170px;
        margin: 0 auto;
    }

    svg {
        display: inline-bloxk;
        height: 20px;
        width: 50px;
        fill: white;
        &:hover {
            opacity: .75;
        }
    }
}