<!DOCTYPE html>
<html lang="en" data-ng-app="bApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Brendan Whiting: Web Developer | Musician</title>
  </head>
  <body>
    <header>
      <a href="#about"><h1>Brendan Whiting</h1></a>
    </header>
    <nav>
      <a href="#portfolio-header"><div>Web Developer</div></a><a href="#shows-header"><div>Musician</div></a>
    </nav>
    <main>
      <div class="container">
        <!-- about -->
        <div id="about">
          <img src="img/headshot.jpg" id="headshot"><div id="lead">
            <h2>Hi, I'm Brendan.</h2>
            <p> I'm from <a href="https://www.google.com/maps/place/Kamloops,+BC,+Canada/" target="_blank">Kamloops, BC, Canada</a>. I've spent the last few years working as a <a href="#shows-header">musician for Broadway shows</a>, but I'm plotting a new career as a <a href="#portfolio-header">web developer</a>. I like <a href="https://www.google.com/maps/dir/Santa+Monica,+CA/San+Diego,+CA/@33.3674756,-118.3906506,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x80c2a4cec2910019:0xb4170ab5ff23f5ab!2m2!1d-118.4911912!2d34.0194543!1m5!1m1!1s0x80d9530fad921e4b:0xd3a21fdfd15df79!2m2!1d-117.1610838!2d32.715738!3e1" target="_blank">cycling</a>, <a href="" target="_blank">yoga</a>, <a href="#skills">binge learning</a>, <a href="https://en.wikipedia.org/wiki/Breaking_Bad" target="_blank">antihero dramas</a>, and <a href="">other people's dogs</a>.</p>
          </div>
        </div>

        <!-- /about -->

        <!-- portfolio -->
        <h2 id="portfolio-header">Front-End Portfolio</h2>
        <div id="projects" data-ng-controller="ProjectController">
          <div class="project" data-ng-repeat="project in projects">
            <h3>{{ project.name }}</h3>
            <h4>{{ project.organization }}</h4>
            <h4>{{ project.project }}</h4>
            <div class="img-container">
              <a href="{{ project.url }}" target="_blank">
                <img class="project-screenshot" data-ng-src="img/project-thumbnails/{{ project.screenshot }}">
              </a>
            </div>
            <p class="description">{{ project.description }}</p>
          </div>
        </div>
        <!-- /portfolio -->

        <!-- skills -->
        <h2 id="skills">Online Learning</h2>
        <div id="skills-container" data-ng-controller="SkillsController">
          <form id="form">
            <fieldset id="search-terms">
              <div class="form-group">
                <label for='search' class="section-heading">Search:</label>
                <input id='search' class="inputs form-control" type='search' data-ng-model="raw_search" ng-change="update_search_terms()">
              </div>
            </fieldset>
            <div class="companies_period clearfix">
              <fieldset id="companies">
                <div class="section-heading">Companies:</div>
                <div class="inputs">
                  <div class="checkbox">
                    <input id='check-all' type='checkbox' 
                      data-ng-model="check_all" data-ng-change="update_inputs()">
                    <label for='check-all'>All</label>
                  </div>
                  <div class="checkbox">
                    <input id='treehouse' class="company-input" type='checkbox'
                      data-ng-model="search.companies.treehouse" 
                      data-ng-change="update_check_all(treehouse)">
                    <label for='treehouse'>Treehouse</label>
                  </div>
                  <div class="checkbox">
                    <input id='codeschool' class="checkbox company-input" type='checkbox' 
                      data-ng-model="search.companies['code school']" 
                      data-ng-change="update_check_all(codeschool)">
                    <label for='codeschool'>Code School</label>
                  </div>
                  <div class="checkbox">
                    <input id='codecademy' class="checkbox company-input" type='checkbox' 
                      data-ng-model="search.companies.codecademy" 
                      data-ng-change="update_check_all(codecademy)">
                    <label for='codecademy'>Codecademy</label>
                  </div>
                  <div class="checkbox">
                    <input id='lynda' class="checkbox company-input" type='checkbox' 
                      data-ng-model="search.companies.lynda" 
                      data-ng-change="update_check_all(lynda)">
                    <label for='lynda'>Lynda</label>
                  </div>
                  <div class="checkbox">
                    <input id='smartly' class="checkbox company-input" type='checkbox' 
                      data-ng-model="search.companies.smartly" 
                      data-ng-change="update_check_all(smartly)">
                    <label for='smartly'>Smartly</label>
                  </div>
                </div>
              </fieldset>
              <fieldset id="time-period">
                <div class="form-group">
                  <div class="section-heading">Time Period:</div>
                  <div class="inputs">
                    <div class="form-group">
                      <label for='start'>Start</label>
                      <input class="form-control" id='start' type='date' data-ng-model="search.start_date" 
                      data-ng-change="update_date_constraint()">  
                    </div>
                    <div class="form-group">
                      <label for='end'>End</label>
                      <input class="form-control" id='end' type='date' data-ng-model="search.end_date"
                      data-ng-change="update_date_constraint()">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
          <div id="timeline" class="clearfix">
            <h3>Timeline</h3>
            <div id="chart-container">
            </div>
            <div class="time-axis">
              <span class="start">{{ search.start_date | date }}</span>
              <span class="end">{{ search.end_date | date }}</span>
            </div>
          </div>
          <div id="headers">
            <div class="logo"></div>
            <div class="company header" data-ng-click="sort_courses('company')">Company
              <img class="dropdown-icon" src="../img/icons/dropdown.svg"></div>
            <div class="title header" data-ng-click="sort_courses('title')">Course Title
              <img class="dropdown-icon" src="../img/icons/dropdown.svg"></div>
            <div class="date header" data-ng-click="sort_courses('date')">
              <img class="dropdown-icon" src="../img/icons/dropdown.svg">Date Taken
              </div>
            <div class="time header" data-ng-click="sort_courses('time')">
              <img class="dropdown-icon" src="../img/icons/dropdown.svg">Course Length
              </div>
          </div>
          <div id="results">
            <div class="course_result" data-ng-repeat="course in paginated_results[current_page]">
              <a ng-href="{{ course.url }}" target="_blank">
              <img class="logo" data-ng-src="{{ course.company | makeCompanyIntoLogoUrl }}">
              <div class="company">{{ course.company }}</div>
              <div class="title">{{ course.title}}</div>
              <div class="date">{{ course.date | date}}</div>
              <div class="time">
                <span class="hours" data-ng-show="course.time.hours">{{course.time.hours}}
                  <ng-pluralize count="course.time.hours"
                                when="{'1': 'hour',
                                        'other': 'hours'}">
                  </ng-pluralize>
                </span>
                <span class="comma" data-ng-show="course.time.hours && course.time.minutes">,</span>
                <span class="minutes" data-ng-show="course.time.minutes">{{course.time.minutes}}
                  <ng-pluralize count="course.time.minutes"
                                when="{'1': 'minute',
                                        'other': 'minutes'}">
                  </ng-pluralize>
                </span>
              </div>
              </a>
            </div>
          </div>
          <div id="pagination">
            <span id="left-arrow" data-ng-click="decrement_page()" ng-class="{disabled: !can_decrement}" 
            class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </span>
            <span id="page-count">Page {{ current_page + 1 }} of {{ paginated_results.length }}</span>
            <span id="right-arrow" data-ng-click="increment_page()" ng-class="{disabled: !can_increment}"
            class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </div>
          <div id="totals" data-ng-show="course_results">
            <div class="total_courses">Total Courses: {{ course_results.length }} </div>
            <div class="total_time">
                <span class="hours" data-ng-show="courses_total_time.hours">Total Time: {{courses_total_time.hours}}
                  <ng-pluralize count="courses_total_time.hours"
                                when="{'1': 'hour',
                                        'other': 'hours'}">
                  </ng-pluralize>
                </span>
                <span class="comma" data-ng-show="courses_total_time.hours && 
                                                  courses_total_time.minutes">,</span>
                <span class="minutes" data-ng-show="courses_total_time.minutes">{{courses_total_time.minutes}}
                  <ng-pluralize count="courses_total_time.minutes"
                                when="{'1': 'minute',
                                        'other': 'minutes'}">
                  </ng-pluralize>
                </span>
              </div>
          </div>
        </div>

        <!-- /skills -->

        <!-- musician -->
        <h2 id="shows-header">Broadway Keyboards, Music Transcription</h2>
        <div id="shows" data-ng-controller="ShowController">
          <div class="show" data-ng-repeat="show in shows">
            <h3>{{ show.name }}</h3>
            <h4>{{ show.type }}</h4>
            <a href="{{ show.url }}" target="_blank">
              <img class="show-logo" data-ng-src="img/show-thumbnails/{{ show.logo }}">
            </a>
            <ul>
              <li class="item" data-ng-repeat="item in show.items">{{ item }}</li>
            </ul>
          </div>
        </div>
        <!-- /musician -->
      </div>
    </main>
    <footer>
      <img src="">
    </footer>
    <script src="js/angular.min.js"></script>
    <script src="js/d3.v3.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>