/*****  FORM  *****/

#form {
    padding: 10px;
    border-radius: 8px;
    background: $color-component-bg;
    margin-bottom: 10px;
    .section-heading {
        font-weight: bold;
        width: 120px;
        display: inline-block;
        float: left;
        margin-top: 9px;
    }
    .inputs {
        width: calc(100% - 125px);
        display: inline-block;
    }

    .checkbox {
        input[type="checkbox"] {
            margin-left: 0;
            margin-top: 2px;
        }
    }   
}   

#search-terms {
    position: relative;
}

.dropdown-toggle #dropdown-icon {
    fill: #000000;
    position: absolute;
    right: 3px;
    top: 7px;
    cursor: pointer;
    opacity: 0;

    .form-group:hover + &,
    &:hover {
        opacity: .6;
    }   

    &.flip {
        transform: rotate(180deg);
        opacity: .6;
    }
}

#companies_period {
    display: flex;
    flex-wrap: wrap;
}

#companies {
    float: left;
    display: inline-block;
    min-width: 230px;
}

#time-period {
    float: left;
    display: inline-block;
    min-width: 255px;

    .inputs {
        margin-top: 9px;
    }
}